@media screen and (max-width: 1600px) {
	.applic{
		&__img{
			left: -135px;
		}
	}
}

@media screen and (max-width: 1366px) {
	.applic{
		&__img {
			left: -314px;
		}
	}
}

@media screen and (max-width: 1200px) {
	.applic{
		&__img{
			left: -314px;
			width: 790px;
		}
	}
}