@media screen and (max-width: 1650px) {
    .applic {
        padding: 50px 0;
    }

    .applic__img {
        width: 675px;
    }
}

@media screen and (max-width: 1365px) {
    .applic__img {
        width: 530px;
    }
}