@media screen and (max-width: 1366px) {
	.inf-item__text{
		width: calc(100% - 185px);
	}
	.contacts-form__list .form-item__sub {
		margin-right: 14px;
	}
}

@media screen and (max-width: 1200px) {
	.contacts{
		&__block{

		}
	}
	.contacts-form{
		&__list{
			.form-item{
				&__sub {
                    width: calc(100% - 152px);
				}
			}
		}
	}
	.inf-item{
		&__text {
			width: calc(100% - 106px);
		}
	}
}

@media screen and (max-width: 992px) {
    .contacts__block{
        margin-right: 0;
    }
	.contacts{
		padding-top: 120px;
		.container{
			padding: 0 27px;
		}
	}
}

@media screen and (max-width: 767px) {
    .contacts-inf, .contacts-map, .contacts-form__list, .form-item.form-item_text{
        width: 100%;
        margin-right: 0;
    }
    .contacts-inf{
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 640px) {
	.contacts{
		.container{
			padding: 0 13px;
		}
	}
}


