@media screen and (max-width: 1650px){
    .footer {
        padding: 36px 50px 60px;
    }
    .footer-block{
        float: left;
        margin-right: 0;
        &:last-child{
            float: right;
        }
    }
}
@media screen and (max-width: 1366px) {
    .footer-block{
        float: none !important;
        display: inline-block;
        text-align: center;
        margin-bottom: 20px;
        margin-right: 0;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .footer {
        padding: 36px 65px 30px;
    }
    .footer-item,
    .footer-item-2{
        text-align: left;
    }
    .footer-item:first-child{
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .footer{
        text-align: center
    }
    .footer-block{
        &:first-child{
            display: none;
        }
    }
}

@media screen and (max-width: 992px) {
    .footer {
        padding: 36px 15px 30px;
    }
}

@media screen and (max-width: 767px) {
    .footer{
        padding: 25px 13px;
    }
    .footer-block{
        width: 100%;
        &:first-child{
            display: none;
        }
    }
    .footer-item-2{
        &:first-child{
            display: none;
        }
        &:nth-child(2){
            float: left;
        }
        &:last-child{
            float: right;
        }
    }
    .footer-item{
        &__text{
            display: none;
        }
        &__logo{
            padding: 12px 11px 0 0;
            width: 210px;
        }
    }
    .contacts-link{
        width: 56px;
        height: 56px;
        margin-right: 36px;
        &__i{
            font-size: 33px;
        }
    }
}

@media screen and (max-width: 640px) {
    .footer{
        padding: 11px 20px 24px;
    }
    .footer-item{
        &__logo{
            width: 160px;
        }
    }
    .contacts-link{
        width: 42px;
        height: 42px;
        margin-right: 27px;
        &__i{
            font-size: 24px;
        }
    }
}

@media screen and (max-width: 480px) {
    .footer{
        padding: 5px 13px 24px;
    }
    .footer-item-2{
        margin-right: 0;
    }
    .contacts-link {
        width: 28px;
        height: 28px;
        margin-right: 18px;
        &__i{
            font-size: 17px;
        }
    }
    .footer-item__logo {
        width: 98px;
        padding: 6px 0 0;
    }
}