@media screen and (max-width: 992px) {

	.slicknav_nav {
		clear: both;
		color: #fff;
		margin: 0;
		font-size: .875em;
		position: fixed;
		width: 100%;
		background: #fff;
		overflow-y: scroll;
		a{
			border-bottom: 1px solid #e8e8e8;
			border-top: none;
		}
	}

	.nav-item__link_sms{
		display: block;
		width: 100%;
		line-height: 47px;
		position: fixed;
		bottom: 0;
		background: #e50028;
		color: #fff;
		margin-left: 0;
		text-align: center;
		font-size: 20px;
		span:before{
			content: '';
			height: 28px;
			width: 32px;
			display: inline-block;
			top: 9px;
			margin-right: 20px;
			position: relative;
			background: url(../../images/sms-act.png) top left no-repeat;
		}
	}

	.language{
		background-color: #404040;
		text-align: right;
		height: 64px;
		padding-right: 23px;
		&__item{
			display: inline-block;
			margin-right: 26px;
			&:last-child{
				margin-right: 0;
			}
		}
	}

	.language-link {
		color: #7e7e7e;
		text-decoration: none;
		display: block;
		text-align: center;
		font-size: 29px;
		line-height: 62px;
		width: 70px;
		&:hover{
			color: white;
			transition: 700ms;
		}
		&_active{
			color: white;
			border-top: 4px solid #e50028;
		}
	}

}

@media screen and (max-width: 640px) {
	.language{
		height: 48px;
	}
	.language-link{
		font-size: 22px;
		line-height: 47px;
		width: 46px;
		&_active{
			border-top: 3px solid #e50028;
		}
	}
	.responsive-nav{
		padding: 0 20px;
		&__logo{
			padding: 16px 0;
			&_img{
				width: 122px;
			}
		}
		&__bar{
			padding: 27px 0;
			width: 38px;
		}
	}
}

@media screen and (max-width: 480px) {
	.language{
		height: 32px;
	}
	.language-link{
		font-size: 15px;
		line-height: 32px;
		width: 23px;
		&_active{
			border-top: 2px solid #e50028;
		}
	}
	.responsive-nav{
		padding: 0 13px;
		&__logo{
			padding: 11px 0;
			&_img{
				width: 81px;
			}
		}
		&__bar{
			padding: 18px 0;
			width: 26px;
		}
	}
}
