@media screen and (max-width: 1650px) {
    .partners-link{
        &__active{
            width: 180px;
        }
    }

    .partners-name {
        left: 20px;
        bottom: 20px;
    }

    .partners-bonus {
        bottom: 0;
        right: 10px;
    }

    .work-item:nth-child(2) {
        margin: 0 40px;
    }
    .work-item {
        width: 31%;
        &:nth-child(1):after{
            right: -118px;
        }
        &:nth-child(2):after{
            right: -118px;
        }
    }
    .work-item-img{
        &_1{
            right: -95px;
            width: 150px;
        }
        &_2{
            right: -97px;
            width: 150px;
        }
    }
    .app__img {
        width: 620px;
    }
    .travel{
        padding-left: 30px;
    }
    .travel-content{
        &:last-child{
            margin-left: -85px;
        }
    }
    .footer-block{
        margin-right: 55px;
    }
}

@media screen and (max-width: 1366px) {
    .partners-logo {
        width: 120px;
        &_oth{
            width: 80px;
        }
    }
    .partners-name {
        font-size: 18px;
    }
    .partners-bonus {
        bottom: 10px;
        font-size: 50px;
        span{
            font-size: 26px;
        }
    }
    .partners-link__active {
        width: 150px;
    }
    .other-partners {
        &__img {
            width: 80px;
        }
        &__text{
            font-size: 20px;
        }
    }
    .work {
        padding-bottom: 50px;
    }
    .work-item:nth-child(2) {
        margin: 0 35px;
    }
    .work-item:nth-child(1):after, .work-item:nth-child(2):after {
        right: -80px;
        width: 122px;
    }
    .app{
        padding-top: 50px;
        padding-bottom: 0;
        &__img {
            width: 450px;
        }
    }
    .travel-content{
        z-index: 2;
        &:last-child{
            margin-left: -257px;
            z-index: 1;
        }
    }
    .footer-block{
        width: 50%;
        vertical-align: top;
        text-align: left;
        display: inline-block;
        margin-bottom: 20px;
        margin-right: 0;
        &:last-child{
            margin-bottom: 0;
        }
    }

    .item-element{
        width: 100%;
        margin: 15px 0 0 0;
    }

    .footer {
        padding: 36px 65px 30px;
    }

    .footer-item-2{
        display: block;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .footer-number{
        display: inline-block;
    }
}

@media screen and (max-width: 1200px) {
    .top-line{
        &__logo{
            padding: 13px 0 0 20px;
        }
    }
    .nav{
        padding-right: 20px;
        &__item{
            margin-left: 20px;
            &:first-child{
                margin-left: 0;
            }
        }
    }
    .partner-lines .select2 {
        max-width: 130px;
    }
    .partner-lines{
        padding-left: 20px;
        &__selects{
            padding-right: 50px;
        }
    }
    .partners{
        font-size: 0;
    }
    .partners-item{
        width: 25%;
        &:nth-child(n+5){
            margin-top: -1px;
        }
        &:nth-child(4n){
            display: none;
        }
    }
    .partners-link{
        &__active{
            width: 155px;
        }
    }
    .work-item{

        &:nth-child(2){
            margin: 0 29px;
        }
        &__img{
            height: 160px;
            width: 160px;
        }
        &__text{
            font-size: 18px;
            line-height: 26px;
            &_sub{
                font-size: 14px;
                line-height: 22px;
            }
            b{
                font-size: 26px;
            }
        }
    }
    .work-img{
        height: 100%;
    }
    .work-item-img{
        &_1{
            right: -75px;
            width: 120px;
        }
        &_2{
            right: -75px;
            width: 120px;
        }
    }
    .travel-content{
        &:last-child{
            margin-left: -460px;
        }
    }
    .app{
        &__img{
            width: 383px;
            left: -240px;
        }
    }
}

@media screen and (max-width: 992px) {
    .language{
        padding: 0;
        text-align: center;
    }
    .header{
        display: none;
    }

    .responsive,
    .slicknav_menu{
        display: block;
    }
    .slider{
        padding-top: 100px;
    }
    .partner-lines{
        padding: 0;
        text-align: center;
        &__head{
            float: none;
        }
        &__selects{
            display: none;
        }
    }
    .partners-item{
        width: 33.33%;

    }
    .work{
        margin: 0;
        padding: 50px 40px;
    }
    .work-item{
        float: none;
        width: 100%;
        height: 160px;
        margin-bottom: 30px;
        display: flex;
        align-items: center;

        &__text{
            font-size: 23px;
            line-height: 30px;
            &_sub{
                font-size: 19px;
                line-height: 40px;
            }
        }
        &__img{
            margin-bottom: 0;
            display: inline-block;

        }
        &:nth-child(2){
            margin: 0 0 30px;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
    .work-item-img{
        display: none;
    }
    .work-item-wrapper{
        display: inline-block;
        width: calc(100% - 160px);
        padding: 0 30px;
    }
    .work-item__img_right{
        order: 2;
    }
    .app{
        padding-right: 110px;
        &__img{
            display: block;
            width: 478px;
            left: -129px;
        }
    }
    .app-function{
        display: none;
    }
    .app-store{
        padding-top: 0;
        &__head{
            display: block;
        }
    }
    .travel {
        padding-top: 50px;
        padding-bottom: 30px;
        padding-left: 0;
    }
    .travel-wrapper{
        background: url("../../images/traveller-bg-980.png") top center no-repeat;
        background-size: cover;
    }
    .travel-content{
        float: none;
        width: 100%;
        text-align: center;
        padding: 0 70px;
        &__btn{
            margin: 0 auto;
            padding-left: 0;
            padding-right: 22px;
            &:after{
                top: 18px;
            }
        }
        &:nth-child(2){
            display: none;
        }
    }
    .footer {
        padding: 36px 15px 30px;
    }
}

@media screen and (max-width: 767px) {
    .language {
        &__item{
            margin-right: 26px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    .language-link{
        font-size: 22px;
        line-height: 32px;
        width: 42px;
        &_active{
            color: #fff;
            border-top: 4px solid #e50028;
        }
    }
    .slicknav_menu {
        top: 100px;
    }
    .partner-lines{
        height: 64px;
        &__head{
            line-height: 61px;
            font-size: 30px;
        }
    }
    .slider{
        padding-top: 100px;
    }
    .partners-item{
        width: 50%;
        &:nth-child(2n){
            display: none;
        }
        &:nth-child(n + 11){
            display: none;
        }
        &:last-child{
            display: inline-block;
        }
        
    }
    .partners-link{
        &__active{
            width: 200px;

        }
    }
    .partners-logo {
        width: 182px;
    }
    .partners-name {
        font-size: 26px;
    }
    .work{
        padding: 39px 0 46px 0;
        &__list{
            padding: 0 48px;
        }
        &__head{
            margin-bottom: 42px;
        }
    }
    .work-item{
        height: 96px;
        &__img{
            height: 96px;
            width: 96px;
        }
        &:first-child{
            .work-item-wrapper {
                padding-top: 0;
            }
            .work-item{
                &__img{
                    .work-img{
                        &_sub{
                            height: 29px;
                        }
                    }
                }
            }
        }
        &:nth-child(2){
            .work-item-wrapper {
                padding-top: 0;
            }

            .work-item{
                &__text{
                    text-align: right;
                    &_sub{
                        text-align: right;
                    }
                }
                &__img{
                    .work-img{
                        &_sub{
                            height: 45px;
                        }
                    }
                }
            }
        }
        &:last-child{
            .work-item-wrapper {
                padding-top: 0;
            }
            .work-item{
                &__img{
                    .work-img{
                        &_sub{
                            height: 34px;
                        }
                    }
                }
            }
        }
    }
    .work-item-wrapper{
        padding: 0 24px 0 30px;
        text-align: left;
        width: calc(100% - 96px);
    }
    .app{
        padding-right: 12px;
        padding-top: 69px;
        padding-bottom: 51px;
        &__img{
            width: 515px;
            left: -181px;
        }
    }
    .app-store{
        &__head{
            line-height: 32px;
        }
        &__link{
            margin-bottom: 22px;
        }
    }
    .store-img{
        width: 202px;
    }
    .footer{
        padding: 25px 13px;
    }
    .footer-block{
        width: 100%;
        &:first-child{
            display: none;
        }
    }
    .footer-item-2{
        &:first-child{
            display: none;
        }
        &:nth-child(2){
            float: left;
        }
        &:last-child{
            float: right;
        }
    }
    .footer-item{
        &__text{
            display: none;
        }
        &__logo{
            padding: 12px 11px 0 0;
            width: 210px;
        }
    }
    .contacts-link{
        width: 56px;
        height: 56px;
        margin-right: 36px;
        &__i{
            font-size: 33px;
        }
    }
}

@media screen and (max-width: 640px) {
    .slicknav_nav{
        .nav-item{
            line-height: 60px;
        }
        a{
            font-size: 26px;
        }
    }
    .partner-lines{
        &__head{
            font-size: 26px;
        }
    }
    .partners-link{
        &__active{
            width: 155px;
        }
    }
    .partners-logo {
        width: 120px;
    }
    .partners-name {
         font-size: 20px;
    }
    .work{
        padding-top: 39px;
        padding-bottom: 46px;
        &__list{
            padding: 0 15px;
        }
        &__head{
            margin-bottom: 42px;
        }
    }
    .work-item{
        &__text{
            font-size: 18px;
            line-height: 26px;
            &_sub{
                font-size: 16px;
                line-height: 26px;
            }
        }
        &:nth-child(2){
            .work-item-wrapper {
                padding: 0 20px 0 0;
            }
        }
    }
    .work-item-wrapper{
        padding: 0 0 0 20px;
    }
    .app{
        padding: 24px 0;
        &__list{
            width: 150px;
            float: right;
            margin-right: 7%;
        }
        &__img{
            width: 396px;
            left: -125px;
        }
    }
    .app-store{
        width: 100%;
        text-align: center;
        &__head{
            text-align: center;
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 12px;
        }
        &__link{
            margin-bottom: 22px;
        }
    }
    .store-img{
        width: 150px;
    }
    .footer-item{
        &__logo{
            width: 146px;
        }
    }
    .contacts-link{
        margin-right: 20px;
        &__i{
            font-size: 33px;
        }
    }
}

@media screen and (max-width: 480px) {
    .partners{
        width: 100%;
        background: #404040;
        text-align: center;
        padding-bottom: 1px;
    }
    .partners-item{
        &:last-child{
            display: inline-block;
        }
    }
    .partners-link{
        &__default{
            padding-bottom: 38px;
        }
        &__active{
            width: 100px;
        }
    }
    .partners-name{
        font-size: 13px;
        left: 11px;
        bottom: 8px;
    }
    .partners-bonus{
        bottom: 2px;
        right: 4px;
        font-size: 30px;
        span{
            font-size: 20px;
            vertical-align: top;
            padding-left: 3px;
            display: inline-block;
            padding-top: 0;
        }
        img{
            width: 31px;
        }
    }
    .other-partners{
        &__text{
            font-size: 16px;
        }
        &__img{
            display: block;
            width: 50px;
            margin: 0 auto 4px;
        }
    }
    .work{
        &__list{
            padding: 0 10px;
        }
    }
    .work-item-wrapper {
        padding: 0 0 0 10px;
    }
    .work-item{
        &__text{
            font-size: 14px;
            line-height: 20px;
            &_sub{
                font-size: 12px;
                line-height: 18px;
            }
            b {
                font-size: 20px;
            }
        }
    }
    .store-img{
        width: 101px;
    }
    .app__img{
        width: 219px;
        left: -67px
    }
    .app__list{
        width: 100px;
        float: right;
        margin-right: 13%;
    }
    .app-store{
        &__link{
            margin-bottom: 10px;
        }
        &__head{
            text-align: left;
            font-size: 10px;
            line-height: 18px;
            margin-bottom: 10px;
        }
    }
    .travel-content{
        padding: 0 10px;
        &__head{
            margin-bottom: 5px;
            font-size: 24px;
        }
        &__text{
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 23px;
        }
    }
    .footer-item-2{
        float: none !important;
        text-align: center;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .footer-block{
        display: block;
        width: 277px;
        margin: 0 auto !important;
    }
    .contacts-link{
        float: none;
        display: inline-block;
    }
    .footer-item{
        &__logo{
            padding: 0;
        }
    }
}
