@media screen and (max-width: 1600px) {
    .container {
        width: 1350px;
    }
}

@media screen and (max-width: 1366px) {
    .container{
        width: 1170px;
    }
}

@media screen and (max-width: 1200px) {
    .container{
        width: 970px;
    }
}

@media screen and (max-width: 992px) {
    .container{
        width: 750px;
    }
    .mob-btn{
        top: -7px;
    }
}

@media screen and (max-width: 767px) {
    .container{
        width: 100%;
    }
    h2{
        font-size: 28px;
    }
}

@media screen and (max-width: 640px) {
    h2{
        font-size: 23px;
    }
    h5{
        font-size: 18px;
    }
    .mob-btn{
        top: -5px;
    }
}

@media screen and (max-width: 480px) {
    h2{
        font-size: 15px;
    }
    h5 {
        font-size: 16px;
    }
    .mob-btn{
        top: -3px;
        width: 18px;
        height: 14px;
        font-size: 12px;
        line-height: 12px;
        &_call:before{
            width: 10px;
            height: 10px;
            left: calc(50% - 5px);
            top: calc(50% - 5px);
        }
    }
}

