@media screen and (max-width: 992px) {
	.news{
		padding: 120px 0 88px;
		&__list{
			padding: 0;
		}
	}
	.news-item{
		&__img{
			width: 280px;
		}
		&__content{
			width: calc(100% - 280px);
			padding: 0 20px;
		}
	}
	.news-content{
		&__date{
			font-size: 14px;
			&:before{
				top: -1px;
			}
		}
		&__name{
			font-size: 18px;
			margin: 7px 0;
			line-height: 22px;
		}
		&__text{
			font-size: 14px;
			line-height: 22px;
		}
	}
}

@media screen and (max-width: 767px) {
	.news{
		.container{
			padding: 0 26px;
		}
	}
	.news-line{
		position: relative;
		&__head{
			float: none;
			text-align: center;
			line-height: 45px;
		}
		&__link{
			position: absolute;
			right: 0;
			top: 2px;
			width: 146px;
			height: 48px;
			&:after{
				top: 17px;
			}
		}
	}
	.news-item{
		&__img{
			width: 293px;
		}
		&__content{
			width: calc(100% - 293px);
			padding: 0 10px;
		}
	}
	.news-item:nth-child(2n) .news-item__content {
		padding: 0 10px;
	}
	.news-content{
		&__date{
			font-size: 18px;
			&:before{
				top: 1px;
			}
		}
		&__text{
			display: none;
		}
		&__name{
			font-size: 20px;
			line-height: 26px;
			margin: 3px 0;
		}
	}
}

@media screen and (max-width: 640px) {
	.news{
		padding: 120px 0 40px;
	}
	.news-line{
		margin-bottom: 15px;
		&__head{
			font-size: 22px;
		}
		&__link{
			width: 125px;
			height: 40px;
			line-height: 36px;
			margin-right: 0;
			font-size: 18px;
			&:after{
				top: 13px;
			}
		}
	}
	.news-item{
		&__img{
			width: 200px;
		}
		&__content{
			width: calc(100% - 200px);
		}
	}
	.news-content{
		&__date{
			font-size: 14px;
			&:before{
				top: -1px;
			}
		}
		&__name{
			font-size: 16px;
			line-height: 20px;
		}
	}
}

@media screen and (max-width: 480px) {
	.news{
		.container{
			padding: 0 13px;
		}
	}
	.news-line{
		&__head{
			font-size: 20px;
			text-align: left;
		}
		&__link{

		}
	}
	.news-item{
		&__img{
			width: 150px;
		}
		&__content{
			width: calc(100% - 150px);
			padding: 0 7px;
		}
	}
	.news-content{
		&__date{
			font-size: 11px;
			padding-left: 20px;
		}
		&__name{
			font-size: 13px;
			line-height: 16px;
		}
	}
}