@media screen and (max-width: 1600px) {
	.one-partner-item{
		&__photo{
			&_link{
				height: 204px;
			}
		}
	}

	.one-partner-news{
		&__img{
			width: 310px;
		}
	}

	.gallery.modal a.close-modal {
		top: 3px;
		right: -68px;
	}
}

@media screen and (max-width: 1366px) {
	.one-partner-present-wrap {
		display: block;
		width: 100%;
	}
	.one-partner-present-link{
		margin-bottom: 10px;
	}
	.one-partner-item{
		&__table{
			width: 100%;
			td:first-child{
				padding-left: 25px;
			}
		}
		&__photo{
			&_link{
				height: 164px;
			}
		}
	}
	.one-partner-news{
		&__content {
			float: left;
			padding: 12px 0 0 31px;
		}
	}

	.gallery {
		width: 1170px;
		height: 683px;
	}
	.gallery{
		&__top{
			width: 1170px;
			.slick-list{
				height: 683px;
			}
		}
		&__bot{
			width: 1170px;
			padding: 20px 63px 15px;
			.slick-next,
			.slick-prev{
				height: 174px;
			}
		}
	}
	.gallery.modal a.close-modal {
		top: 30px;
		right: -68px;
	}
}

@media screen and (max-width: 1200px) {
	.one-partner-content{
		&__block {
			float: none;
			width: 100%;
			padding: 0;
		}
		&__logo {
			position: relative;
			left: auto;
			float: left;
			margin-right: 20px;
		}
		&__wrap{
			padding-top: 20px;
		}
	}
	.one-partner-block{
		&__present-line{
			float: left;
		}
	}
	.one-partner-item{
		&__photo{
			&_link{
				height: 184px;
			}
		}
	}
	.one-partner-present{
		&__item{
			width: 140px;
		}
	}
	.one-partner-news{
		&__content{
			padding: 24px 0 0 31px;
		}
	}
	.one-partner-process{
		width: 970px;
		.work-item{
			&:nth-child(2){
				margin: 0 67px;
			}
		}
	}
	.gallery{
		&__top,
		&__bot{
			width: 970px;
		}
		.modal{
			width: auto;
		}
	}
}

@media screen and (max-width: 992px) {
	.map{
		display: none;
	}
	.one-partner{
		padding-top: 120px;
		&__head{
			font-size: 24px;
			margin-bottom: 15px;
		}
	}
	.one-partner-block{
		&__present-line{
			width: calc(100% - 220px);
		}
	}
	.one-partner-help {
		float: left;
		margin-left: 33px;
	}
	.one-partner-list{
		padding: 0;
	}
	.one-partner-item{
		&__table{
			th {
				font-size: 18px;
			}
			td{
				font-size: 16px;
			}
		}
	}
	.one-partner-news{
		&__img {
			width: 245px;
		}
		&__content{
			padding: 28px 0 0 25px;
		}
	}
	.one-partner-news-name{
		font-size: 22px;
		line-height: 32px;
	}
	.one-partner-item{
		&__photo{
			&_link {
				height: 200px;
			}
		}
	}
	.one-partner-wrap{
		&:nth-child(n + 3){
			display: none;
		}
	}
	.one-partner-process{
		width: 720px;
		&__head{
			margin-bottom: 25px;
		}
		.work-item{
			width: 28%;
			float: left;
			text-align: center;
			&:first-child:after{
				right: -71px;
				width: 86px;
			}
			&:nth-child(2):after{
				right: -72px;
				width: 90px;
			}
		}
		&.modal{
			padding: 41px 27px 15px;
		}
		.work-item:nth-child(2){
			margin: 0 53px;
			.work-item__img {
				float: none;
			}
		}
	}
	.one-partner-item-img{
		height: 100%;
	}
	.one-partner-process .work-item__img {
		height: 144px;
		margin-bottom: 14px;
		float: none;
	}
}

@media screen and (max-width: 767px) {
	.map{
		display: none;
	}
	.one-partner {
		padding-top: 120px;
		&__head {
			font-size: 23px;
			font-family: 'PrivaPro-Three';
			line-height: 30px;
			padding-right: 23px;
			margin-bottom: 31px;
		}
		.container{
			padding: 0 26px;
		}
	}
	.one-news-line{
		&__link {
			width: 218px;
			height: 48px;
			line-height: 48px;
			margin-right: 11px;
			padding-left: 60px;
			font-size: 22px;
		}
	}
	.one-partner-line{
		&__name{
			padding-top: 6px;
			padding-left: 25px;
		}
	}
	.one-partner-content{
		&__wrap {
			padding-top: 47px;
			padding-bottom: 35px;
			margin-bottom: 25px;
		}
		&__logo {
			width: 258px;
			margin-right: 0;
		}
	}
	.one-partner-logo{
		width: 100%;
	}
	.one-partner-block{
		&__present-line {
			width: calc(100% - 258px);
			padding-left: 34px;
		}
	}
	.one-partner-present-link {
		width: 111px;
		height: 36px;
		font-size: 18px;
		line-height: 36px;
	}
	.one-partner-present-text {
		color: #333334;
		font-size: 19px;
	}
	.one-partner-present{
		margin-bottom: 27px;
		&__item {
			width: 128px;
		}
	}
	.one-partner-help{
		margin-left: 45px;
		&__link {
			font-size: 22px;
			color: #3a3434;
			line-height: 34px;
		}
	}
	.one-partner-list {
		padding: 0 25px;
	}
	.one-partner-item__table{
		display: none;
	}
	.one-partner-news-name {
		font-size: 19px;
		line-height: 32px;
	}
	.one-partner-item__photo_link {
		height: 166px;
	}
	.one-partner-process{
		.work__list{
			padding: 0;
		}
		&.modal{
			padding: 35px 70px;
			border-radius: 0;
			height: 490px;
		}
		.work-item{
			float: none;
			width: 100%;
			.work-item__img .work-img_sub {
				height: auto;
				width: 41px;
			}
			&:nth-child(2),
			&:first-child{
				&:after{
					display: none;
				}
			}
			&__img{
				height: 80px;
			}
		}
		
		.work-item__img {
			height: 96px;
			margin-bottom: 0;
			float: left;
		}
	}
}

@media screen and (max-width: 640px) {
	.one-partner {
		padding-top: 140px;
		&__head{
			font-size: 18px;
			line-height: 22px;
			padding-right: 0;
			margin-bottom: 3px;
		}
	}
	.one-news-line{
		&__link{
			width: 150px;
			height: 35px;
			line-height: 33px;
			margin-right: 11px;
			padding-left: 48px;
			font-size: 16px;
			&:after{
				left: 14px;
				top: 9px;
			}
		}
	}
	.one-partner-content{
		&__wrap {
			padding-top: 30px;
		}
		&__logo {
			width: 150px;
		}
	}
	.one-partner-block{
		&__present-line {
			width: calc(100% - 150px);
			padding-left: 10px;
		}
	}
	.one-partner-item {
		font-size: 16px;
		&__photo{
			text-align: center;
		}
	}
	.one-partner-item{
		&__news {
			width: 380px;
			margin: 0 auto;
		}
	}
	.one-partner-news{
		&__img {
			width: 100%;
		}
	}
	.one-partner-news{
		&__content {
			padding: 18px 0 20px 36px;
		}
	}
	.one-partner-wrap{
		margin: 0;
		&:nth-child(n + 2){
			display: none;
		}
	}
	.one-partner-present-link {
		margin-bottom: 0;
		width: 90px;
		height: 30px;
		font-size: 16px;
		line-height: 28px;
	}
	.one-partner-present-text{
		font-size: 14px;
		line-height: 18px;
	}
	.one-partner-present{
		margin-bottom: 0;
		&__item{
			width: 100px;
		}
	}
	.one-partner-help{
		&__link{
			font-size: 18px;
		}
	}
	.one-partner-list {
		padding: 0;
	}
}

@media screen and (max-width: 480px) {
	.one-partner {
		padding-top: 116px;
		&__line{
			text-align: center;
		}
	}
	.one-partner-line__name {
		float: none;
		padding-left: 0;
		margin-bottom: 15px;
	}
	.one-news-line__link {
		float: none;
		display: inline-block;
	}
	.one-partner-content__wrap {
		padding-left: 10px;
	}
	.one-partner-item__text {
		line-height: 28px;
	}
	.one-partner-item__link {
		margin-left: 20px;
		line-height: 30px;
		&:before{
			left: -26px;
			top: 3px;
		}
	}
	.one-partner-item__news {
		width: 273px;
	}
	.one-partner-news__content {
		padding: 18px 0 20px 20px;
	}
	.one-partner-news-date {
		padding-bottom: 5px;
	}
	.one-partner-content__logo {
		width: 150px;
		margin: 0 auto 18px;
		display: block;
		float: none;
	}
	.one-partner-block__present-line {
		width: 100%;
		padding-left: 0;
	}
}
