@media screen and (max-width: 1600px) {
	.partner-page{
		&__partners{
			.partners-item {
				margin-right: 20px;
				width: 290px;
				.partners-link__active {
					width: 180px;
				}
				.partners-logo{
					width: 208px;
				}
			}
		}
	}
}

@media screen and (max-width: 1366px){
	.partner-page{
		&__partners{
			text-align: center;
			.partners-item{
				margin-right: 60px;
				&:nth-child(4n){
					margin-right: 60px;
				}
				&:nth-child(3n){
					margin-right: 0;
				}
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.partner-page{
		.container {
			padding: 0;
		}
		&__partners{
			.partners-item{
				display: inline-block;
				margin-right: 50px;
				&:nth-child(4n){
					margin-right: 50px;
				}
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.partner-page{
		.slider {
			display: none;
		}
		.partner-lines{
			height: 103px;
			&__head{
				font-size: 28px;
				line-height: 113px;
			}
		}
		&__partners{
			.partners-item{
				width: 300px;
				margin-right: 50px;
				box-shadow: 0 0 60px rgba(0,0,0,.2);
				&:nth-child(2n){
					margin-right: 0;
				}
				&:nth-child(n + 7){
					display: none;
				}
				&:nth-child(3){
					margin-right: 50px;
				}
				.partners-link__active {
					width: 200px;
				}
				&:hover{
					.partners-link{
						transition: top 700ms;
						.partners-link__default{
							top: 0;
							left: 0;
						}
						.partners-link__active{
							bottom: -100%;
						}
					}
				}
			}
		}
	}
	.partners-line {
		width: 280px;
	}
	.show-filter{
		display: block;
		right: 30px;
		top: 26px;
	}

}

@media screen and (max-width: 767px) {
	.partner-page{
		&__partner-lines{
			margin-bottom: 17px;
		}
		.container{
			padding: 0;
		}
		&__partners{
			.partners-item{
				display: block;
				width: 589px;
				margin: 0 auto 8px!important;
				&:nth-child(3){
					margin: 0 auto 8px!important;
				}
				&__top{
					width: 49%;
					float: left;
					margin-bottom: 0;
				}
				&__bot{
					width: 51%;
					float: left;
					padding-top: 11px;
					height: 198px;
				}
				.partners-link__active {
					width: 170px;
				}
				.partners-logo{
					width: 165px;
				}
			}
		}
	}
	.partners-head {
		margin-top: 2px;
		margin-bottom: 15px;
		font-size: 23px;
		&__sub{
			font-size: 16px;
		}
	}
	.partners-line {
		width: 243px;
		margin: 0 auto 14px;
	}
	.present-item{
		&__link{
			width: 92px;
			height: 30px;
			font-size: 16px;
			line-height: 30px;
		}
		&__text{
			font-size: 17px;
			line-height: 25px;
			font-family: 'PrivaPro-Three';
		}
		&__percent{
			font-size: 53px;
			margin-top: 22px;
			span{
				font-size: 28px;
				padding-top: 0;
				margin-top: -9px;
			}
		}
		&__img{
			width: 39px;
		}
	}

	.show-filter{
		top: 28px;
		bottom: auto;
	}
}

@media screen and (max-width: 640px) {
	.partner-page{
		&__partners{
			.partners-item{
				width: 440px;
				.partners-logo{
					width: 125px;
				}
				.partners-link{
					&__active{
						width: 120px;
					}
				}
				&__bot{
					padding-top: 7px;
					height: auto
				}
			}
		}
		.partner-lines{
			margin-bottom: 22px;
			height: 68px;
			&__head{
				font-size: 20px;
				line-height: 86px
			}
		}
	}
	.show-filter {
		top: 21px;
		right: 22px;
		bottom: auto;
		width: 48px;
		height: 48px;
	}
	.partners-head{
		margin-top: 0;
		margin-bottom: 10px;
		font-size: 16px;
		&__sub{
			font-size: 13px;
			display: inline-block;
			margin-bottom: 2px;
		}
	}
	.partners-line{
		width: 190px;
		margin-bottom: 11px;
	}
	.present-item{
		&__link{
			width: 70px;
			height: 24px;
			font-size: 12px;
			line-height: 21px;
			margin: 0 auto 7px;
		}
		&__text{
			font-size: 14px;
			line-height: 18px;
		}
		&__percent{
			font-size: 38px;
			margin-top: 10px;
			span{
				font-size: 22px;
				margin-top: -5px;
			}
		}
		&__img{
			width: 29px;
			padding-top: 4px;
		}
	}
}

@media screen and (max-width: 480px) {
	.partner-page{
		padding-bottom: 26px;
		&__partners{
			padding: 0 15px;
			background: rgba(0, 0, 0, 0);
			.partners-item{
				width: 100%;
				margin: 0 auto 5px!important;
				&:nth-child(3){
					margin: 0 auto 5px!important;
				}
				.partners-logo{
					width: 83px;
				}
				.partners-link{
					&__active{
						width: 80px;
					}
				}
				&__top{
					float: none;
					display: inline-block;
					vertical-align: middle;
				}
				&__bot{
					padding-top: 4px;
					height: auto;
					float: none;
					display: inline-block;
					vertical-align: middle;
				}
			}
		}
		.partner-lines{
			margin-bottom: 13px;
			height: 46px;
			&__head {
				font-size: 13px;
				line-height: 58px;
			}
		}
	}
	.partner-lines {
		height: auto;
	}
	.partners-head{
		margin-top: 0;
		margin-bottom: 6px;
		font-size: 12px;
		&__sub{
			font-size: 10px;
			margin-bottom: 0;
		}
	}
	.partners-line{
		width: 130px;
		margin-bottom: 7px;
		height: 1px;
	}
	.present-item{
		&__link{
			width: 47px;
			height: 15px;
			font-size: 8px;
			line-height: 15px;
			margin-bottom: 4px;
			border: 1px solid #e50028;
		}
		&__text{
			font-size: 9px;
			line-height: 12px;
		}
		&__percent{
			font-size: 26px;
			margin-top: 4px;
			span{
				font-size: 12px;
				padding-top: 0;
				margin-top: -5px;
			}
		}
		&__img{
			padding-top: 3px;
			width: 20px;
		}
	}
	.show-filter {
		top: 14px;
		right: 15px;
		width: 32px;
		height: 32px;
	}
}

