@media screen and (max-width: 1600px) {
	.partner-page{
		&__partners{
			.partners-item {
				margin-right: 23px;
				width: 290px;
				.partners-link__active {
					width: 180px;
				}
				.partners-logo{
					width: 208px;
				}
			}
		}
	}
}

@media screen and (max-width: 1366px){
	.partner-page{
		&__partners{
			text-align: center;
			.partners-item{
				margin-right: 60px;
				&:nth-child(4n){
					margin-right: 60px;
				}
				&:nth-child(3n){
					margin-right: 0;
				}
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.partner-page{
		.container {
			padding: 40px 0;
		}
		&__partners{
			.partners-item{
				display: inline-block;
				margin-right: 50px;
				&:nth-child(4n){
					margin-right: 50px;
				}
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.partner-page{
		.slider {
			padding-top: 100px;
		}
		&__partners{
			.partners-item{
				width: 300px;
				margin-right: 50px;
				box-shadow: 0 0 60px rgba(0,0,0,.2);
				&:nth-child(2n){
					margin-right: 0;
				}
				&:nth-child(n + 7){
					display: none;
				}
				&:nth-child(3){
					margin-right: 50px;
				}
				.partners-link__active {
					width: 200px;
				}
			}
		}
	}
	.partners-line {
		width: 280px;
	}

}

@media screen and (max-width: 767px) {
	.partner-page{
		padding-top: 100px;
		.slider {
			display: none;
		}
		&__partner-lines{
			margin-bottom: 2px;
		}
		.container{
			padding: 0;
		}
		&__partners{
			.partners-item{
				display: block;
				width: 596px;
				margin: 0 auto 11px !important;
				&:nth-child(3){
					margin: 0 auto 11px !important;
				}
				&__top{
					width: 48%;
					float: left;
					margin-bottom: 0;
				}
				&__bot{
					width: 52%;
					float: left;
					padding-top: 8px;
					height: 195px;
				}
				.partners-link__active {
					width: 170px;
				}
			}
		}
	}
	.partner-lines{
		&__head{
			font-size: 28px;
			line-height: 65px;
			font-family: 'PrivaPro-Three';
		}
	}
	.partners-head {
		margin-top: 2px;
		margin-bottom: 15px;
		font-size: 23px;
	}
	.partners-line {
		width: 243px;
		margin: 0 auto 14px;
	}
	.present-item{
		&__link{
			width: 92px;
			height: 30px;
			font-size: 16px;
			line-height: 30px;
		}
		&__text{
			font-size: 17px;
			line-height: 25px;
			font-family: 'PrivaPro-Three';
		}
	}
}

@media screen and (max-width: 640px) {
	.partner-page{
		&__partners{
			.partners-item{
				width: 412px;
				.partners-logo{
					width: 160px;
				}
				.partners-link{
					&__active{
						width: 120px;
					}
				}
				&__bot{
					padding-top: 0;
					height: auto;
				}
			}
		}
	}
	.partners-head{
		margin-top: 0;
		margin-bottom: 5px;
		font-size: 16px;
		&__sub{
			font-size: 12px;
		}
	}
	.partners-line{
		width: 190px;
		margin-bottom: 6px;
	}
	.present-item{
		&__link{
			width: 80px;
			height: 24px;
			font-size: 14px;
			line-height: 24px;
		}
		&__text{
			font-size: 14px;
			line-height: 18px;
		}
	}
}

@media screen and (max-width: 480px) {
	.partner-page{
		&__partners{
			background: rgba(0, 0, 0, 0);
			.partners-item{
				width: 280px;
				.partners-logo{
					width: 110px;
				}
				.partners-link{
					&__active{
						width: 80px;
					}
				}
				&__bot{
					padding-top: 0;
					height: auto;
				}
			}
		}
		.partner-lines__head {
			font-size: 22px;
			line-height: 40px;
		}
	}
	.partner-lines {
		height: auto;
		&__head{
			font-size: 22px;
			line-height: 40px;
		}
	}
	.partners-head{
		margin-top: 0;
		margin-bottom: 3px;
		font-size: 14px;
		&__sub{
			font-size: 10px;
		}
	}
	.partners-line{
		width: 130px;
		margin-bottom: 3px;
	}
	.present-item{
		&__link{
			width: 62px;
			height: 20px;
			font-size: 11px;
			line-height: 17px;
			margin-bottom: 3px;
		}
		&__text{
			font-size: 10px;
			line-height: 14px;
		}
		&__percent{
			font-size: 30px;
			margin-top: 4px;
			span{
				font-size: 16px;
				padding-top: 0;
				margin-top: -7px;
			}
		}
		&__img{
			padding-top: 0;
			width: 27px;
		}
	}
}

