@media screen and (max-width: 1366px) {
	.sms-item__select {
		margin-right: 28px;
	}
	.sms-rules{
		height: 640px;
	}
	.scrollbar-inner .scroll-content {
		max-height: 500px;
	}
}

@media screen and (max-width: 1200px) {
	.sms-item__select {
		margin-right: 23px;
	}
	.sms{
		&__block{
			margin-right: 50px;
		}
	}
}