<footer>
    <div class="container">
        <div class="footer">
            <div class="footer-block">
                <div class="footer-item">
                    <p class="footer-item__text">© 2017. Bakcell LTD.</p>
                    <p class="footer-item__text">Bütün hüquqlar qorunur.</p>
                </div>
                <ul class="footer-item">
                    <li class="item-element">
                        <a class="footer-item__text footer-link" href="#">Ulduzum nədir</a>
                        <a class="footer-item__text footer-link" href="#">Partnyorlar</a>
                        <a class="footer-item__text footer-link footer-link_active" href="news.html">Yeniliklər</a>
                    </li>
                    <li class="item-element">
                        <a class="footer-item__text footer-link" href="app.html">Mobil əlavə</a>
                        <a class="footer-item__text footer-link" href="faq2.html">F.A.Q.</a>
                        <a class="footer-item__text footer-link" href="#">Əlaqə</a>
                    </li>
                    <li class="item-element">
                        <a class="footer-item__text footer-link" href="#">Partnyor olmaq</a>
                        <a class="footer-item__text footer-link" href="rules.html">Şərtlər və Qaydalar</a>
                        <a class="footer-item__text footer-link" href="#">Məxfilik siyasəti</a>
                    </li>
                </ul>
            </div>
            <div class="footer-block">
                <div class="footer-item">
                    <p class="footer-item__text">Yeniliklərə abunə olmaq</p>
                    <form class="footer-number clearfix">
                        <input class="footer-number__area" type="tel" placeholder="Nömrənizi daxil edin">
                        <input class="footer-number__call" type="submit">
                    </form>
                </div>
                <div class="footer-item">
                    <p class="footer-item__text">Bizi izləyin</p>
                    <div class="footer-item__contacts clearfix">
                        <a class="contacts-link" href=""><i class="contacts-link__i fa fa-facebook" aria-hidden="true"></i></a>
                        <a class="contacts-link" href=""><i class="contacts-link__i fa fa-twitter" aria-hidden="true"></i></a>
                        <a class="contacts-link" href=""><i class="contacts-link__i fa fa-youtube" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="footer-item">
                    <a href="#"><img class="footer-item__logo grayscale grayscale-fade" src="images/footer-logo.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="js/min/libs.js"></script>
<script src="js/min/app.js"></script>
</body>
</html>