<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/min/libs.css">
    <link rel="stylesheet" href="css/min/app.css">
</head>
<body>
<div class="responsive">
    <ul class="language">
        <li class="language__item"><a class="language-link language-link_active" href="#">Az</a></li>
        <li class="language__item"><a class="language-link" href="#">Ru</a></li>
        <li class="language__item"><a class="language-link" href="#">En</a></li>
    </ul>
    <div class="responsive-nav clearfix">
        <a class="responsive-nav__logo" href="#"><img class="responsive-nav__logo_img" src="images/logo.png" alt=""></a>
        <img id="bar" class="responsive-nav__bar" src="images/nav-bar.png" alt="">
    </div>
</div>
<header class="header clearfix">
    <ul class="language">
        <li class="language__item"><a class="language-link language-link_active" href="#">Az</a></li>
        <li class="language__item"><a class="language-link" href="#">Ru</a></li>
        <li class="language__item"><a class="language-link" href="#">En</a></li>
    </ul>
    <div class="top-line clearfix">
        <div class="top-line__logo logo">
            <a class="logo__link logo-link" href="#">
                <img class="logo-link__img" src="images/logo.png" alt="">
            </a>
        </div>
        <ul id="nav" class="top-line__nav nav clearfix">
            <li class="nav__item nav-item">
                <a class="nav-item__link" href="#">Ulduzum nədir</a>
            </li>
            <li class="nav__item nav-item">
                <a class="nav-item__link" href="#">Partnyorlar</a>
            </li>
            <li class="nav__item nav-item">
                <a class="nav-item__link" href="#">Yeniliklər</a>
            </li>
            <li class="nav__item nav-item">
                <a class="nav-item__link" href="#">Mobil əlavə</a>
            </li>
            <li class="nav__item nav-item">
                <a class="nav-item__link" href="#">Partnyor olmaq</a>
            </li>
            <li class="nav__item nav-item">
                <a class="nav-item__link nav-item__link_sms nav-item__link_active" href="#"><span>Pulsuz SMS</span></a>
            </li>
            <li class="nav__item nav-item">
                <a class="nav-item__link nav-item__link_search" href="#">
                    <img class="nav-link-img" src="images/icos/search.png" alt="">
                </a>
            </li>
        </ul>
    </div>
    <form class="search">
        <div class="search-wrap">
            <input class="search__area" type="text" placeholder="Axtar...">
            <input class="search__close" type="button">
        </div>
    </form>
</header>