.applic{
    background: #f3f3f3;
    padding: 33px 0 110px;
    position: relative;
    .container{
        width: 1295px;
    }
    &__head{
        padding: 9px 0 43px;
        color: #3a3434;
    }
    &__img{
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.applic-block{
    width: 685px;
    float: right;
    padding-right: 138px;
    &__head{
        font-family: 'PrivaPro-Three';
        font-size: 22px;
        color: #3a3434;
        line-height: 32px;
        margin-bottom: 39px;
    }
}

.applic-list{
    margin-bottom: 47px;
}

.applic-item{
    margin-bottom: 22px;
    &__img{
        vertical-align: middle;
        display: inline-block;
        width: 50px;
        height: 50px;
        box-sizing: border-box;
        border: 1px solid #e60029;
        border-radius: 8px;
        position: relative;
        text-align: center;
    }
    &__text{
        display: inline-block;
        width: calc(100% - 66px);
        vertical-align: middle;
        font-family: 'PrivaPro-Two';
        color: #3a3434;
        padding: 0 0 0 23px;
    }
}

.applic-item-img{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.applic-link{
    display: inline-block;
    margin-right: 20px;
    border-radius: 13px;
    &:hover{
        box-shadow: 2px 3.5px 30px rgba(50, 5, 13, 0.8);
        transition: 500ms;
    }
    &:last-child{
        margin-right: 0;
    }
    &__img{
        width: 205px;
    }
}

