.contacts{
	background: #f3f3f3;
	padding-top: 42px;
	color: #3a3434;
	font-family: 'PrivaPro-Two';
	.container{
		padding: 0 60px;
	}
	&__head{
		margin-bottom: 41px;
	}
	&__block{
		padding-bottom: 70px;
		&:last-child{
			margin-right: 0;
		}

	}
	.form-item{
		width: 100%;
		&__place{
			resize: none;
			width: 100%;
			height: 253px;
			border: none;
			background: rgba(256, 256, 256, 0);
			border-bottom: 1px solid #c6c6c6;
			outline: none;
			font-size: 22px;
			padding: 0;
			line-height: 36px;
			font-family: 'PrivaPro-Four';
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: #3a3434;
			}
			&::-moz-placeholder { /* Firefox 19+ */
				color: #3a3434;
			}
			&:-ms-input-placeholder { /* IE 10+ */
				color: #3a3434;
			}
			&:-moz-placeholder { /* Firefox 18- */
				color: #3a3434;
			}
		}
	}
}

.contacts-inf{
	vertical-align: top;
	width: 47%;
	margin-right: 6%;
	display: inline-block;
	padding-top: 27px;
}

.inf-item{
	margin-bottom: 23px;
	&:last-child{
		margin-bottom: 0;
	}
	&__img{
		vertical-align: middle;
	}
	&__text{
		display: inline-block;
		width: calc(100% - 228px);
		padding-left: 25px;
		vertical-align: middle;
		&_link{
			text-decoration: underline;
			color: #3a3434;
			font-size: 16px;
			padding-left: 26px;
		}
	}
}

.form-item__place{
	outline: none;
	line-height: 36px;
	font-family: 'PrivaPro-Four';
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: #3a3434;
	}
	&::-moz-placeholder { /* Firefox 19+ */
		color: #3a3434;
	}
	&:-ms-input-placeholder { /* IE 10+ */
		color: #3a3434;
	}
	&:-moz-placeholder { /* Firefox 18- */
		color: #3a3434;
	}
}

.form-item.form-item_text{
	width: 47%;
	float: none;
	margin-right: 0;
	vertical-align: top;
	display: inline-block;
}

.contacts-form{
	width: 100%;
	&__head{
		margin-bottom: 35px;
	}
	&__list{
		width: 47%;
		display: inline-block;
		margin-right: 6%;
		.form-item{
			margin-right: 0;
			width: 100%;
			margin-bottom: 25px;
			&:last-child{
				margin-bottom: 0;
			}
			&__sub{
				width: calc(100% - 152px);
				float: left;
				margin-right: 17px;
				&:nth-child(2){
					width: 138px;
					margin-top: 20px;
					margin-right: 0;
				}
				.form-item-img{
					margin-bottom: 7px;
					width: 100%;
				}
				.form-item-text{
					font-size: 16px;
					color: #898989;
				}
			}
		}
	}
	&__button{
		width: 216px;
		height: 53px;
		background-color: #de0027;
		border-radius: 5px;
		border: none;
		font-size: 22px;
		font-family: 'PrivaPro-Three';
		color: #fff;
		float: right;
		margin: 44px 3px 0 0;
		outline: none;
		cursor: pointer;
	}
}

.contacts-map{
	display: inline-block;
	width: 47%;
	height: 248px;
}