.form{
	padding-top: 58px;
	background: #f3f3f3;
	color: #3a3434;
	padding-bottom: 105px;
	.select2{
        width: 100%;
        max-width: 100%;
    }
	.container{
		padding: 0 63px;
	}
	&__head{
		margin-bottom: 46px;
	}
	&__block{
		margin-bottom: 23px;
		&:nth-child(2){
			margin-bottom: 69px;
		}
	}
}

.select2-container.form-select{
    max-width: 100%;
}

.form-block{
	&__top{
		margin-bottom: 18px;
	}
	&__list{
		padding-top: 21px;
		&_2{
			background: #ededed;
			padding: 46px 0 5px 35px;
			border-radius: 10px;
			.form-item{
				width: 46%;
			}
		}
	}
	&__head{
		float: left;
		display: table;
	}
	&__btn{
		margin: 7px 11px 0 0;
		float: right;
		display: block;
		font-size: 22px;
		width: 157px;
		height: 50px;
		border: 3px solid #e60029;
		border-radius: 25px;
		text-align: center;
		line-height: 50px;
		text-decoration: none;
		color: #e60029;
		&:hover{
			background: #e60029;
			color: #fff;
			transition: 500ms;
		}
	}
}

.form-block-num{
	display: table-cell;
	font-size: 22px;
	text-align: center;
	border: 3px solid #e60029;
	height: 48px;
	width: 48px;
	border-radius: 50%;
	vertical-align: middle;
}
.form-block-head{
	display: table-cell;
	vertical-align: middle;
	padding-left: 14px;
}

.form-item{
	margin-right: 6%;
	width: 47%;
	float: left;
	margin-bottom: 40px;
	&:nth-child(2n){
		margin-right: 0;
	}
	&__head{
		font-size: 16px;
		color: #898989;
		margin-bottom: 10px;
	}
	&__area{
		width: 100%;
		border: none;
		height: 45px;
		padding-bottom: 7px;
		background: rgba(256, 256, 256, 0);
		border-bottom: 1px solid #c6c6c6;
		font-size: 22px;
		font-family: 'PrivaPro-Three';
		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			color: #3a3434;
		}
		&::-moz-placeholder { /* Firefox 19+ */
			color: #3a3434;
		}
		&:-ms-input-placeholder { /* IE 10+ */
			color: #3a3434;
		}
		&:-moz-placeholder { /* Firefox 18- */
			color: #3a3434;
		}
		outline: none;
	}
	&__select{
		.select2-container {
			width: 100% !important;
		}
		.select2-container .select2-selection--single {
			padding-right: 0;
		}
		.select2-container .select2-selection--single .select2-selection__rendered{
			max-width: 999px;
			width: 100%;
			display: block;
			font-family: 'PrivaPro-Three';
			color: #3a3434;
			font-size: 26px;
			border-bottom: 1px solid #c6c6c6;
			padding-bottom: 15px;
			position: relative;
			&:after{
				content: '';
				display: inline-block;
				width: 16px;
				height: 8px;
				background: url("../../images/form-select.png");
				position: absolute;
				top: 8px;
				right: 1px;
			}
		}
	}
}

.checkbox{
	vertical-align: top;
	margin: 0 3px 0 0;
	width: 17px;
	height: 17px;

	&:not(checked) {
		position: absolute;
		opacity: 0;
	}
}

.checkbox + label {
	cursor: pointer;
}

.label{
	font-size: 26px;
	font-family: 'PrivaPro-Three';
	&:nth-child(4){
		padding-left: 90px;
		cursor: pointer;
	}

}

.checkbox:not(checked) + label {
	position: relative;
	padding: 0;
}

.checkbox:not(checked) + label:before {
	content: '';
	position: absolute;
	top: 1px;
	right: -74px;
	width: 56px;
	height: 28px;
	background-color: #e60029;
	border-radius: 13px;
}

.checkbox:not(checked) + label:after {
	content: '';
	position: absolute;
	right: -41px;
	top: 6px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: #FFF;
	transition: all .2s;
}

.checkbox:checked + label:after {
	right: -68px;
}

.form-button{
	width: 187px;
	height: 53px;
	background-color: #de0027;
	border-radius: 5px;
	color: #fff;
	font-size: 22px;
	font-family: 'PrivaPro-Three';
	border: none;
	float: right;
	outline: none;
	margin: -16px 20px 0 0;
	&:hover{
		background: #000;
		transition: 500ms;
	}
}

.form-select{
	.select2-container{
		min-width: 100%;
	}
	.select2-dropdown--below {
		width: inherit;
		position: relative;
		top: -1px;
		left: 0;
	}
}

.form-item-wrap{
	float: left;
	margin-right: 47px;
	&:last-child{
		margin-right: 0;
	}
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	display: block;
	font-size: 22px;
	color: #f3f3f3;
	width: 157px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #898989;
	border-radius: 25px;
}

.inputfile:focus + label,
.inputfile + label:hover {
	background-color: red;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
	outline:none;
}

