.language{
    background-color: #404040;
    text-align: right;
    height: 40px;
    padding-right: 27px;
    &__item{
        display: inline-block;

    }
}

.language-link {
    font-family: PrivaPro-Two;
    font-size: 16px;
    color: #7e7e7e;
    line-height: 34px;
    width: 36px;
    text-decoration: none;
    display: block;
    text-align: center;
    &:hover{
        color: white;
        transition: 700ms;
    }
    &_active{
        color: white;
        border-top: 2px solid #e50028;
    }
}

.slick-slide{
    outline: none;
}

.top-line{
    &__logo{
        float: left;
        padding: 13px 0 0 31px;
    }
    &__nav{
        float: right;
    }
}

.nav{
    padding-right: 35px;
    height: 77px;
    &__item{
        float: left;
        margin-left: 50px;
    }
}

.nav-item{
    line-height: 70px;
    &__link{
        font-family: 'PrivaPro-Three';
        text-decoration: none;
        color: #272727;
        font-size: 16px;
        &:hover{
            color: #e50028;
            border-bottom: 1px solid #e50028;
            transition: 500ms;
        }
    }
}

.nav-link-img{
    padding-top: 20px;
}