.slider-item-link{
    display: block;
}

.slider-item{
    &__img{
        width: 100%;
    }
}

.partner-lines{
    height: 80px;
    background: #404040;
    font-family: 'PrivaPro-Four';
    color: white;
    padding-left: 30px;
    &__head{
        line-height: 75px;
        font-size: 26px;
        float: left;
    }
    &__selects{
        float: right;
        padding-right: 32px;
    }
}

.selects-item{
    font-size: 14px;
    line-height: 72px;
    float: left;
    margin-right: 30px;
    &:last-child{
        margin-right: 0;
    }
}

.select2-container {
    max-width: 330px;
    .select2-selection--single {
        height: auto;
        padding-right: 28px;
        .select2-selection__rendered{
            font-family: 'PrivaPro-One';
            color: white;
            font-size: 19px;
            border-bottom: 1px solid #fff;
            padding: 0;
            &:after{
                content: '';
                display: inline-block;
                width: 15px;
                height: 8px;
                background: url("../../images/select-arrow.png") no-repeat top left;
                position: absolute;
                top: 13px;
                right: 0;
            }
        }
    }
}

.select2-container--default .select2-selection--single {
    background-color: rgba(256, 256, 256, 0);
    border: none;
    border-radius: 0;
    outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
    display: none;
}

.select2-container--open .select2-dropdown--below{
    position: relative;
    top: 27px;
    left: -29px;
}

.select2-container--classic .select2-results>.select2-results__options, .select2-container--default .select2-results>.select2-results__options {
    max-height: 1000px;
    overflow-y: auto;
}

.select2-container--default .select2-results__option[aria-selected=true]{
    display: none;
}

.select2-dropdown {
    border: none;
    border-radius: 0;
    min-width: 180px;
}

.select2-results__option {
    padding: 15px 29px;
    background: #404040;
    color: #fff;
    font-size: 19px;
    position: relative;
    border-bottom: 1px solid #515151;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #252525;
}

.select-name{
    font-family: 'PrivaPro-Three';
    font-size: 18px;
    vertical-align: middle;
    margin-right: 7px;
}

.select{
    vertical-align: middle;
}

.rating{
    display: inline-block;
    vertical-align: middle;
}

.star{
    background: url("../../images/star-rating.png") no-repeat right top;
    width: 23px;
    height: 18px;
    line-height: 18px;
    padding-right: 7px;
}

.fullStar,
.tmp_fs{
    background-position: 4px;
}

.partners{
    font-size: 0;
}

.partners-item{
    display: inline-block;
    width: 20%;
}

.partners-link{
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    overflow: hidden;
    &__img{
        display: block;
        width: 100%;
        height: 100%;
    }
    &__default{
        position: absolute;
        background-color: rgba(92, 92, 92, 0.75);
        width: 100%;
        height: 100%;
        top: 0;
        color: white;
        transition: top 500ms;
        padding-bottom: 59px;
    }
    &__active{
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        display: block;
        bottom: -100%;
        transition: bottom 500ms;
        width: 233px;
    }
    &:hover{
        transition: top 700ms;
        .partners-link__default{
            top: -100%;
            left: 0;
        }
        .partners-link__active{
            bottom: 0;
        }
        .other-partners__img{
            animation: swing 0.6s ease;
            animation-iteration-count: 1;
        }
    }
}

@keyframes swing {
    15% {
        transform: translateX(9px);
    }
    30% {
        transform: translateX(-9px);
    }
    40% {
        transform: translateX(6px);
    }
    50% {
        transform: translateX(-6px);
    }
    65% {
        transform: translateX(3px);
    }
    100% {
        transform: translateX(0);
    }
}

.partners-logo{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.partners-name{
    position: absolute;
    left: 40px;
    bottom: 38px;
    font-family: PrivaPro-Two;
    font-size: 22px;
}

.partner-lines .select2{
    max-width: 150px;
}

.main-select{
    max-width: 330px;
    .select2-dropdown{
        width: 100% !important;
    }
}

.partners-bonus{
    display: inline-block;
    position: absolute;
    bottom: 20px;
    right: 40px;
    font-family: NimbusSans-Light;
    font-size: 60px;
    span{
        font-size: 32px;
        vertical-align: top;
        padding-left: 3px;
        display: inline-block;
        padding-top: 13px;
    }
}

.partners-star{
    width: 100%;;

}

.partners-link-end{
    &:hover{
        .other-partners__text{
            border-bottom: 2px solid #fff;
            margin-bottom: -2px;
        }
    }
}

.other-partners{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    &__img{
        display: block;
        width: 103px;
        margin: 0 auto 20px;

    }
    &__text{
        font-family: 'PrivaPro-Two';
        font-size: 25px;
        color: white;
        display: inline-block;
    }
}

.work-wrapper{
    background-color: rgba(0, 0, 0, 0.6);
    background-image: linear-gradient(to top, #eee 0%, #d9d9d9 27%, white 100%);
}

.work{
    text-align: center;
    padding-top: 48px;
    margin: 0 60px;
    padding-bottom: 79px;
    &__head{
        color: #363636;
        margin-bottom: 35px;
    }
}

.work-item{
    float: left;
    width: 29%;
    text-align: center;
    position: relative;
    &:nth-child(2){
        margin: 0 84px;
    }
    &__img{
        height: 192px;
        width: 192px;
        border-radius: 50%;
        position: relative;
        border: 4px solid #df0026;
        margin: 0 auto 20px;
    }
    &__text{
        font-size: 22px;
        line-height: 30px;
        font-family: 'PrivaPro-Two';
        color: #3a3434;
        span{
            font-size: 30px;
        }
        &_sub{
            font-family: 'PrivaPro-One';
            font-size: 18px;
            color: #3a3434;
            line-height: 30px;
        }
        b{
            font-size: 30px;
        }
    }
    &:nth-child(1):after,
    &:nth-child(2):after{
        content: '';
        display: none;
        position: absolute;
        width: 190px;
        height: 47px;
    }
    &:nth-child(1):after{
        background: url("../../images/work-arrow-1.png") no-repeat;
        background-size: contain;
        top: 80px;
        right: -130px;
    }
    &:nth-child(2):after{
        background: url("../../images/work-arrow-2.png") no-repeat;
        background-size: contain;
        top: 65px;
        right: -135px;
    }
}

.work-item-img{
    position: absolute;
    &_1{
        top: 80px;
        right: -137px;
    }
    &_2{
        top: 64px;
        right: -140px;
    }

}

.work-img{
    &_sub{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
    }
}

.app-wrapper{
    background: url("../../images/app-bg.png") no-repeat top center;
    background-size: cover;
    position: relative;
    &:after{
        content: ' ';
        display: inline-block;
        width: 100%;
        height: 8px;
        background: #404040;
        position: absolute;
        left: 0;
        bottom: -8px;
    }
}

.app{
    position: relative;
    padding-top: 70px;
    padding-bottom: 55px;
    padding-right: 100px;
    &__img{
        position: absolute;
        left: -97px;
        bottom: 0;
    }
    &__list{
        float: right;
    }
}

.app-item{
    float: left;
}

.app-function{
    width: 425px;
    margin-right: 50px;
    &__head{
        font-family: 'PrivaPro-Three';
        font-size: 22px;
        color: white;
        margin-bottom: 17px;
    }
}

.function-item{
    width: 209px;
    float: left;
    margin-bottom: 28px;
    &__img{
        vertical-align: middle;
    }
    &__text{
        vertical-align: middle;
        font-family: 'PrivaPro-Two';
        font-size: 22px;
        color: white;
        display: inline-block;
        width: calc(100% - 64px);
        padding-left: 16px;
    }
}

.app-store{
    width: 251px;
    &__head{
        font-family: 'PrivaPro-Three';
        color: #fff;
        font-size: 24px;
        margin-bottom: 25px;
        display: none;
    }
    &__link{
        margin-bottom: 33px;
        display: inline-block;
        border-radius: 13px;
        &:hover{
            box-shadow: 2px 3.5px 30px rgba(50, 5, 13, 0.8);
            transition: 500ms;
        }
    }
}

.travel-wrapper{
    background: url("../../images/travel-bg.png") top center no-repeat;
    background-size: cover;
}

.travel{
    padding-top: 90px;
    padding-bottom: 4px;
    padding-left: 77px;
}

.travel-content{
    width: 405px;
    float: left;
    position: relative;
    &:last-child{
        width: calc(100% - 405px);
        margin-top: -73px;
        margin-left: -8px;
    }
    &__head{
        color: white;
        margin-bottom: 14px;
    }
    &__text{
        font-family: 'PrivaPro-One';
        font-size: 22px;
        line-height: 30px;
        color: white;
        margin-bottom: 37px;
    }
    &__btn{
        font-family: 'PrivaPro-Three';
        display: block;
        width: 188px;
        height: 53px;
        background-color: #de0027;
        border-radius: 6px;
        font-size: 22px;
        line-height: 53px;
        text-decoration: none;
        color: white;
        padding-left: 23px;position: relative;
        &:after{
            content: '';
            display: inline-block;
            position: absolute;
            top: 16px;
            right: 22px;
            width: 10px;
            height: 16px;
            background: url("../../images/travel-btn-arrow.png") top left no-repeat;
        }
        &:hover{
            box-shadow: 2px 3.5px 20px rgba(30, 30, 30, 0.8);
            transition: 500ms;
        }
    }
    &__city{
        position: absolute;
        &_almaniya{
            top: 54px;
            left: 447px;
        }
        &_belarus{
            top: 41px;
            left: 528px;
        }
        &_turkey{
            top: 103px;
            left: 503px;
        }
        &_azerbajgan{
            top: 129px;
            left: 571px;
        }
        &_oae{
            top: 180px;
            left: 571px;
        }
    }
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 200px;
    overflow-y: auto;
}

.last_child{
    &.select2-container--open .select2-dropdown--below,
    &.select2-container--open .select2-dropdown--above{
        left: auto;
    }
}

.sort-modal{
    display: none;
}