.language{
    background-color: #404040;
    text-align: right;
    height: 40px;
    padding-right: 27px;
    &__item{
        display: inline-block;

    }
}

.language-link {
    font-family: PrivaPro-Two;
    font-size: 16px;
    color: #7e7e7e;
    line-height: 34px;
    width: 36px;
    text-decoration: none;
    display: block;
    text-align: center;
    &:hover{
        color: white;
        transition: 700ms;
    }
    &_active{
        color: white;
        border-top: 2px solid #e50028;
    }
}

.top-line{
    &__logo{
        float: left;
        padding: 13px 0 0 31px;
    }
    &__nav{
        float: right;
    }
}

.nav{
    padding-right: 35px;
    height: 77px;
    &__item{
        float: left;
        margin-left: 50px;
    }
}

.nav-item{
    line-height: 70px;
    &__link{
        font-family: 'PrivaPro-Three';
        text-decoration: none;
        color: #272727;
        font-size: 16px;
        &:hover{
            color: #e50028;
            border-bottom: 1px solid #e50028;
            transition: 500ms;
        }
    }
}

.nav-link-img{
    padding-top: 20px;
}

.slider-item{
    position: relative;
    &__img{

    }
    &__logo{
        position: absolute;
        left: 0;
        top: calc(50% - 78px);
        width: 403px;
        height: 156px;
        background-color: white;
        border-radius: 0 8px 8px 0;
        padding-left: 43px;
    }
    &__shape{
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.slider-logo-baku,
.slider-logo-xalq{
    display: block;
    float: left;
}

.slider-logo-baku{
    margin-top: 35px;
    padding-right: 25px;
    padding-bottom: 5px;
    border-right: 2px solid #1b1c20;
}

.slider-logo-xalq{
    margin-top: 63px;
    padding-left: 27px;
}

.shape{
    position: relative;
}

.slider-text{
    position: absolute;
    right: 24px;
    top: 129px;
    text-align: right;
    font-family: 'PrivaPro-Three';
    text-transform: uppercase;
    color: white;
    &__main{
        font-size: 40px;
        margin-bottom: 29px;
    }
    &__sub{
        font-size: 20px;
    }
}

.partner-lines{
    height: 80px;
    background: #404040;
    font-family: 'PrivaPro-Four';
    color: white;
    padding-left: 30px;
    &__head{
        line-height: 80px;
        font-size: 26px;
        float: left;
    }
    &__selects{
        float: right;
        padding-right: 27px;
    }
}

.selects-item{
    font-size: 14px;
    line-height: 72px;
    float: left;
    margin-right: 30px;
    &:last-child{
        margin-right: 0;
    }
}

.select2-container {
    width: auto !important;

    .select2-selection--single {
        height: auto;
        padding-right: 28px;
        .select2-selection__rendered{
            font-family: 'PrivaPro-One';
            color: white;
            font-size: 19px;
            border-bottom: 1px solid #fff;
            padding: 0;
            max-width: 90px;
            &:after{
                content: '';
                display: inline-block;
                width: 15px;
                height: 8px;
                background: url("../../images/select-arrow.png") no-repeat top left;
                position: absolute;
                top: 10px;
                right: 0;
            }
        }
    }
}

.select2-container--default .select2-selection--single {
    background-color: rgba(256, 256, 256, 0);
    border: none;
    border-radius: 0;
    outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
    display: none;
}

.select2-container--open .select2-dropdown--below{
    width: auto !important;
    position: relative;
    top: 28px;
    left: -29px;
}

.select2-container--classic .select2-results>.select2-results__options, .select2-container--default .select2-results>.select2-results__options {
    max-height: 1000px;
    overflow-y: auto;
}

.select2-container--default .select2-results__option[aria-selected=true]{
    display: none;
}

.select2-dropdown {
    border: none;
    border-radius: 0;
    min-width: 300px;
}

.select2-results__option {
    padding: 0 29px;
    background: #404040;
    color: #fff;
    font-size: 19px;
    line-height: 60px;
    position: relative;
    border-bottom: 1px solid #515151;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #252525;
}

.select-name{
    font-family: 'PrivaPro-Four';
    font-size: 19px;
    vertical-align: middle;
    margin-right: 7px;
}

.select{
    vertical-align: middle;
}

.rating{
    display: inline-block;
    vertical-align: middle;
}

.star{
    background: url("../../images/star-rating.png") no-repeat right top;
    width: 23px;
    height: 18px;
    line-height: 18px;
    padding-right: 7px;
}

.fullStar,
.tmp_fs{
    background-position: 4px;
}

.partners{
    font-size: 0;
}

.partners-item{
    display: inline-block;
    width: 20%;
}

.partners-link{
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    overflow: hidden;
    &__img{
        display: block;
        width: 100%;
        height: 100%;
    }
    &__default{
        position: absolute;
        background-color: rgba(92, 92, 92, 0.75);
        width: 100%;
        height: 100%;
        top: 0;
        color: white;
        transition: top 500ms;
        padding-bottom: 50px;
    }
    &__active{
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        display: block;
        bottom: -100%;
        transition: bottom 500ms;
        width: 233px;
    }
    &:hover{
        transition: top 700ms;
        .partners-link__default{
            top: -100%;
            left: 0;
        }
        .partners-link__active{
            bottom: 0;
        }
    }
}

.partners-logo{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.partners-name{
    position: absolute;
    left: 40px;
    bottom: 41px;
    font-family: PrivaPro-Two;
    font-size: 22px;
}

.partners-bonus{
    display: inline-block;
    position: absolute;
    bottom: 36px;
    right: 40px;
    font-family: NimbusSans-Light;
    font-size: 60px;
    span{
        font-size: 32px;
        vertical-align: top;
        padding-left: 3px;
    }
}

.partners-star{
    width: 100%;;

}

.partners-link-end{
    &:hover{
        .other-partners__text{
            border-bottom: 2px solid #fff;
        }
    }
}

.other-partners{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    &__img{
        display: block;
        width: 103px;
        margin: 0 auto 20px;

    }
    &__text{
        font-family: 'PrivaPro-Two';
        font-size: 25px;
        color: white;
        display: inline-block;
    }
}

.work-wrapper{
    background-color: rgba(0, 0, 0, 0.6);
    background-image: linear-gradient(to top, #eee 0%, #d9d9d9 27%, white 100%);
}

.work{
    text-align: center;
    padding-top: 45px;
    margin: 0 65px;
    padding-bottom: 78px;
    &__head{
        color: #363636;
        margin-bottom: 40px;
    }
}

.work-item{
    float: left;
    width: 29%;
    text-align: center;
    position: relative;
    &:nth-child(2){
        margin: 0 80px;
    }
    &__img{
        height: 192px;
        position: relative;
        margin-bottom: 20px;
    }
    &__text{
        font-size: 22px;
        line-height: 30px;
        font-family: 'PrivaPro-Two';
        color: #3a3434;
        &_sub{
            font-family: 'PrivaPro-One';
            font-size: 18px;
            color: #3a3434;
            line-height: 30px;
        }
        b{
            font-size: 30px;
        }
    }
    &:nth-child(1):after,
    &:nth-child(2):after{
        content: '';
        display: inline-block;
        position: absolute;
        width: 190px;
        height: 47px;
    }
    &:nth-child(1):after{
        background: url("../../images/work-arrow-1.png") no-repeat;
        background-size: contain;
        top: 80px;
        right: -130px;
    }
    &:nth-child(2):after{
        background: url("../../images/work-arrow-2.png") no-repeat;
        background-size: contain;
        top: 65px;
        right: -135px;
    }
}

.work-img{

    &_sub{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
    }
}

.app-wrapper{
    background: url("../../images/app-bg.png") no-repeat top center;
    background-size: cover;
}

.app{
    position: relative;
    padding-top: 70px;
    padding-bottom: 48px;
    padding-right: 100px;
    &__img{
        position: absolute;
        left: 0;
        bottom: 0;
    }
    &__list{
        float: right;
    }
}

.app-item{
    float: left;
}

.app-function{
    width: 425px;
    margin-right: 50px;
    &__head{
        font-family: 'PrivaPro-Three';
        font-size: 22px;
        color: white;
        margin-bottom: 20px;
    }
}

.function-item{
    width: 212px;
    float: left;
    margin-bottom: 30px;
    &__img{
        vertical-align: middle;
    }
    &__text{
        vertical-align: middle;
        font-family: 'PrivaPro-Two';
        font-size: 22px;
        color: white;
        display: inline-block;
        width: calc(100% - 64px);
        padding-left: 16px;
    }
}

.app-store{
    width: 251px;
    padding-top: 20px;
    &__link{
        margin-bottom: 15px;
        display: inline-block;
        border-radius: 10px;
        &:hover{
            box-shadow: 2px 3.5px 30px rgba(50, 5, 13, 0.8);
            transition: 500ms;
        }
    }
}

.travel-wrapper{
    background: url("../../images/travel-bg.png") top center no-repeat;
    background-size: cover;
}

.travel{
    padding-top: 90px;
    padding-bottom: 75px;
    padding-left: 78px;
}

.travel-content{
    width: 405px;
    &__head{
        color: white;
        margin-bottom: 14px;
    }
    &__text{
        font-family: 'PrivaPro-One';
        font-size: 22px;
        line-height: 30px;
        color: white;
        margin-bottom: 35px;
    }
    &__btn{
        font-family: 'PrivaPro-Three';
        display: block;
        width: 188px;
        height: 53px;
        background-color: #de0027;
        border-radius: 6px;
        font-size: 22px;
        line-height: 53px;
        text-decoration: none;
        color: white;
        padding-left: 23px;position: relative;
        &:after{
            content: '';
            display: inline-block;
            position: absolute;
            top: 16px;
            right: 22px;
            width: 10px;
            height: 16px;
            background: url("../../images/travel-btn-arrow.png") top left no-repeat;
        }
        &:hover{
            box-shadow: 2px 3.5px 20px rgba(30, 30, 30, 0.8);
            transition: 500ms;
        }
    }
}

.footer{
    padding: 36px 65px 60px;
}

.footer-block{
    display: inline-block;
    margin-right: 57px;
    &:last-child{
        margin-right: 0;
    }
}

.footer-item{
    display: inline-block;
    vertical-align: top;
    margin-right: 57px;
    &:last-child{
        margin-right: 0;
    }
    &__text{
        font-family: 'PrivaPro-Two';
        font-size: 14px;
        line-height: 22px;
        color: #343434;
    }
    &__contacts{
        padding-top: 6px;
    }
    &__logo{
        width: 170px;
        margin: 11px 0 0 5px;
    }
}

.item-element{
    display: inline-block;
    margin-right: 35px;
    &:last-child{
        margin-right: 0;
    }
}

.footer-link{
    display: block;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
        color: #e50028;
        transition: 500ms;
    }
}

.footer-number{
    position: relative;
    padding-top: 6px;
    &__area{
        width: 211px;
        height: 36px;
        border: 1px solid #d0d0d0;
        border-radius: 18px;
        outline: none;
        font-family: 'PrivaPro-Two';
        font-size: 12px;
        padding-left: 15px;
        color: #333;
        &:-moz-placeholder{
            color: #c1c1c1;
        }
        &::-webkit-input-placeholder{
            color: #c1c1c1;
        }
    }
    &__call{
        position: absolute;
        top: 18px;
        right: 13px;
        width: 24px;
        height: 13px;
        border: 0;
        outline: none;
        cursor: pointer;
        padding: 0;
        background: rgba(256, 256, 256, 0) url("../../images/footer-arrow.png") left top no-repeat;
        &:hover{
            background-position: right top;
        }
    }
}

.contacts-link{
    float: left;
    display: block;
    text-align: center;
    width: 36px;
    height: 37px;
    background: #333;
    border-radius: 50%;
    margin-right: 10px;
    color: white;
    text-decoration: none;
    &:last-child{
        margin-right: 0;
    }
    &__i{
        font-family: 'FontAwesome';
        font-size: 20px;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    &:hover{
        background: #e50028;
        transition: 500ms;
    }
}