.news{
    background: #f3f3f3;
    color: #3a3434;
    font-family: 'PrivaPro-Two';
    padding: 39px 0 88px;
    .container{
        padding: 0 63px;
    }
    &__list{
        padding-right: 20px;
    }
}

.news-line{
    margin-bottom: 38px;
    &__head{
        float: left;
        line-height: 45px;
    }
    &__link{
        float: right;
        display: block;
        font-size: 20px;
        color: #3a3434;
        text-decoration: none;
        width: 136px;
        height: 45px;
        border: 2px solid #e50028;
        border-radius: 23px;
        margin-right: 11px;
        padding-left: 22px;
        line-height: 41px;
        position: relative;
        &:after{
            content: '';
            display: inline-block;
            width: 23px;
            height: 13px;
            background: url("../../images/news-arrow.png") no-repeat top left;
            position: absolute;
            right: 25px;
            top: 13px;
        }
    }
}

.news-item{
    background: #fff;
    margin-bottom: 30px;
    &:hover{
        transition: 500ms;
        box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
    }
    &:nth-child(2n){
        text-align: right;
        .news-item{
            &__content{
                padding: 0 33px 0 50px;
            }
        }
    }
    &__img{
        vertical-align: middle;
        width: 302px;
    }
    &__content{
        vertical-align: middle;
        display: inline-block;
        width: calc(100% - 320px);
        padding: 0 50px 0 30px;
    }
}

.news-content{
    &__date{
        font-size: 16px;
        padding-left: 29px;
        position: relative;
        &:before{
            content: '';
            display: inline-block;
            width: 17px;
            height: 17px;
            background: url("../../images/one-partner-date.png");
            position: absolute;
            left: 1px;
            top: 0;
        }
    }
    &__name{
        font-size: 22px;
        font-family: 'PrivaPro-Three';
        text-decoration: none;
        color: #3a3434;
        margin: 7px 0;
        display: block;
        &:hover{
            transition: 500ms;
            text-decoration: underline;
            color: #e60029;
        }
    }
}