.one-partner{
	background: #f3f3f3;
	font-family: 'PrivaPro-Two';
	.container{
		padding: 0 60px;
	}
	&__head{
		color: #3a3434;
		margin-bottom: 42px;
	}
}

.map{
	height: 424px;
	margin-bottom: 48px;
}

.one-partner-line{
	&__name{
		float: left;
		color: #afafaf;
		font-size: 16px;
		line-height: 16px;
	}
}

.one-partner-content{
	&__logo{
		position: absolute;
		left: 60px;
	}
	&__block{
		float: right;
		width: calc(100% - 200px);
		padding-left: 68px;
		padding-right: 21px;

	}
	&__wrap{
		border-bottom: 2px dotted #a9a9a9;
		padding-bottom: 27px;
		margin-bottom: 28px;
	}
}

.one-partner-block__present-line{
	position: relative;
}

.one-partner-present{
	float: left;
	&__item{
		width: 240px;
		float: left;
		margin-right: 20px;
		&:last-child{
			margin-right: 0;
		}
	}
}

.one-partner-present-wrap{
	display: inline-block;
	width: calc(100% - 125px);
}

.one-partner-present-link{
	display: block;
	text-align: center;
	text-decoration: none;
	width: 112px;
	height: 43px;
	border-radius: 24px;
	border: 2px solid #e50028;
	font-size: 16px;
	line-height: 43px;
	color: #3a3434;
	float: left;
	margin-right: 13px;
}

.one-partner-present-text{
	display: inline-block;
	color: #e60029;
	font-size: 16px;
}

.one-partner-help{
	float: right;
	&__link{
		font-size: 16px;
		color: #3a3434;
		line-height: 48px;
		position: relative;
		&:before{
			content: '';
			display: inline-block;
			width: 24px;
			height: 24px;
			background: url("../../images/one-partner-help.png") top left no-repeat;
			position: absolute;
			top: -2px;
			left: -38px;
		}
	}
}

.one-partner-process{
	display: none;
	width: 1086px;
	height: 378px;
	background-color: white;
	border-radius: 10px;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	&__head{
		text-align: center;
		margin-bottom: 47px;
	}
	.work-item{
		width: 28%;
		&__img{
			height: 144px;
			margin-bottom: 14px;
		}
		&__text{
			font-size: 16px;
			line-height: 22px;
			padding: 0 15px;
			span{
				b{
					font-size: 30px;
				}
			}
			b{
				font-size: 22px;
			}
		}
		&:nth-child(1):after {
			display: inline-block;
			top: 62px;
			right: -108px;
			width: 137px;
		}
		&:nth-child(2) {
			display: inline-block;
			margin: 0 77px;
			.work-item__img{
				margin-bottom: 20px;
			}
			&:after{
				display: inline-block;
				top: 51px;
				right: -112px;
				width: 137px;
			}
		}
		.work-img{
			&_sub{
				width: 59px;
			}
		}
	}
}

.one-partner-process.modal{
	position: absolute;
	max-width: 100%;
	padding: 41px 61px 15px;
	color: #3a3434;
	a.close-modal {
		top: 19.5px;
		right: 26.5px;
		width: 16px;
		height: 16px;
		background: url("../../images/close.png") no-repeat;
	}
}

.one-partner-item{
	color: #3a3434;
	margin-bottom: 23px;
	font-size: 16px;
	&__head{
		margin-bottom: 13px;
	}
	&__text{
		&_sub{
			font-size: 14px;
		}
	}
	&__link{
		display: block;
		color: #3a3434;
		line-height: 36px;
		text-decoration: none;
		margin-left: 28px;
		position: relative;
		&:hover{
			text-decoration: underline;
		}
		&_address:before,
		&_phone-home:before,
		&_phone-mob:before,
		&_site:before{
			content: '';
			display: inline-block;
			position: absolute;
		}
		&_address:before{
			width: 16px;
			height: 22px;
			background: url("../../images/one-partner-address.png");
			top: 5px;
			left: -30px;
		}
		&_phone-home:before{
			width: 18px;
			height: 18px;
			background: url("../../images/home-phone.png");
			top: 8px;
			left: -32px;
		}
		&_phone-mob:before{
			width: 10px;
			height: 18px;
			background: url("../../images/mob-phone.png");
			top: 8px;
			left: -28px;
		}
		&_site{
			text-decoration: underline;
			&:before{
				width: 17px;
				height: 17px;
				background: url("../../images/site.png");
				top: 8px;
				left: -32px;
			}
		}

	}
	&__table{
		width: 90%;
		border-collapse: collapse;
		th{
			height: 77px;
			background: #e60029;
			font-family: PrivaPro-Four;
			font-size: 16px;
			color: #fff;
			border: 1px solid #e60029;
			text-align: center;
			&:first-child{
				text-align: left;
				padding-left: 32px;
			}
		}
		td{
			text-align: center;
			height: 65px;
			font-size: 16px;
			color: #555;
			border: 1px solid #d4d4d4;
			&:first-child{
				width: 66.4%;
				text-align: left;
				padding-left: 33px;
			}
		}
	}
	&__news{
		display: block;
		background: #fff;
		color: #3a3434;
	}
	&__photo{
		&_link{
			display: block;
			height: 220px;
			position: relative;
			&:before{
				content: '';
				display: none;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				box-sizing: border-box;
				border: 4px solid #e60029;
				z-index: 99;
			}
			&:hover{
				transition: 500ms;
				&:before{
					transition: 500ms;
					display: inline-block;
				}
			}

		}
	}
}

.one-partner-item-img{
	position: relative;

}

.one-partner-wrap{
	position: relative;
	display: inline-block;
	margin: 0 14px 16px 0;
	&:nth-child(3n){
		margin-right: 0;
	}
}

.table-radius{
	overflow: hidden;
	border-radius: 5px;
	margin-bottom: 11px;
}

.one-partner-news{

	&__img{
		float: left;
		width: 237px;
	}
	&__content{
		float: left;
		padding: 29px 0 0 31px;
		width: calc(100% - 325px);
	}
}

.one-partner-news-date{
	font-size: 16px;
	padding-left: 28px;
	display: block;
	position: relative;
	margin-bottom: 9px;
	&:before{
		content: '';
		display: inline-block;
		width: 17px;
		height: 17px;
		background: url("../../images/one-partner-date.png");
		position: absolute;
		left: 0;
		top: 0;
	}
}

.one-partner-news-name{
	line-height: 32px;
	text-decoration: none;
	font-size: 22px;
	color: #3a3434;
	&:hover{
		text-decoration: underline;
		transition: 500ms;
	}
}

.one-partner-news-text{
	color: #3a3434;
}

.gallery{
	width: 1280px;
	height: 853px;
	position: relative;
	display: none;
	&__top{
		.slick-next, .slick-prev {
			height: 80px;
			width: 80px;
			border-radius: 50%;
			background: rgba(255, 255, 255, 0.6);
			cursor: pointer;
			border: none;
			outline: 0;
			z-index: 999;
		}
		.slick-prev {
			left: 48px;
			top: 366px;
			&:hover{
				transition: 500ms;
				background: #e60029;
				&:before{
					transition: 500ms;
					background: url("../../images/gallery-left-arrow-top-act.png");
				}
			}
		}
		.slick-prev:before{
			content: ' ';
			display: inline-block;
			width: 18px;
			height: 32px;
			background: url("../../images/gallery-left-arrow-top-pas.png");
		}
		.slick-next{
			top: 366px;
			right: 54px;
			&:before{
				display: inline-block;
				content: ' ';
				width: 18px;
				height: 32px;
				background: url("../../images/gallery-right-arrow-top-pas.png");
			}
			&:hover{
				transition: 500ms;
				background: #e60029;
				&:before{
					transition: 500ms;
					background: url("../../images/gallery-right-arrow-top-act.png");
				}
			}
		}
	}
	&__bot{
		position: absolute;
		left: 0;
		bottom: 0;
		width: 1280px;
		background: rgba(0, 0, 0, 0.8);
		padding: 35px 46px 30px;
		.slick-list{
			padding: 0 36px;
		}
		.slick-prev,
		.slick-next{
			width: 63px;
			height: 201px;
			background: #1b1b1b;
			z-index: 999;
		}
		.slick-prev{
			left: 0;
			&:before{
				width: 18px;
				height: 32px;
				content: '';
				display: inline-block;
				background: url("../../images/gallery-left-arrow-bot-pas.png");
			}
		}
		.slick-next{
			right: 0;
			&:before{
				width: 18px;
				height: 32px;
				content: '';
				display: inline-block;
				background: url("../../images/gallery-right-arrow-bot-pas.png");
			}

		}
		.slick-current{
			.gallery-img_sub{
				border: 7px solid #e60029;
			}
		}
	}
}

.gallery.modal a.close-modal{
	background: url("../../images/gallery-close.png");
	width: 32px;
	height: 32px;
	top: -57px;
	right: 0;
}

.slick-dotted.slick-slider {
	margin-bottom: 0;
}

.gallery-img{
	width: 1280px;
	height: 853px;
	&_sub{
		width: 203px;
		height: 138px;
		margin: 0;
	}
}

.gallery.modal{
	max-width: 100%;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}












