.partner-page{
	font-family: 'PrivaPro-Two';
	background: #f3f3f3;
	position: relative;
	padding-bottom: 40px;
	.container{
		padding: 20px 60px;
	}
	&__partner-lines{
		background: rgba(256, 256, 256, 0);
		margin-bottom: 17px;
	}
	.partner-lines{
		color: #404040;
		&__head{
			font-size: 30px;
		}
		&__selects{
			padding-right: 22px;
		}
		.select2-selection__rendered {
			color: #404040;
			border-bottom: 1px solid #404040;
			&:after{
				background: url("../../images/select-arrow-black.png") no-repeat top left;
			}
		}
	}
	&__partners{
		.partners-item{
			width: 300px;
			background: #fff;
			margin-right: 26px;
			margin-bottom: 23px;
			&:nth-child(4n){
				margin-right: 0;
			}
			.partners-link__active {
				width: 152px;
			}
			&:hover{
				transition: 500ms;
				box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
				.partners-link{
					transition: top 700ms;
					.partners-link__default{
						top: -100%;
						left: 0;
					}
					.partners-link__active{
						bottom: 0;
					}
				}
				.present-item{
					&__link{
						transition: 500ms;
						color: #fff;
						background: #e52443;
					}
				}
			}
			&__top{
				position: relative;
				margin-bottom: 19px;
			}
			&__bot{
				text-align: center;
				height: 175px;
			}
		}
		.partners-logo{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
			width: 54%;
		}
	}
}

.partners-head{
	color: #3a3434;
	margin-top: 2px;
	margin-bottom: 10px;
	font-size: 22px;
	&__sub{
		color: #afafaf;
		font-size: 14px;
	}
}

.show-filter{
	display: none;
	position: absolute;
	top: 15px;
	right: 30px;
	border: none;
	outline: none;
	width: 64px;
	height: 64px;
	background: url("../../images/filter.png") top center no-repeat;
	background-size: contain;
}

.partners-line{
	width: 261px;
	height: 2px;
	margin: 0 auto 15px;
	border-bottom: 2px dotted #b2b2b2;
}

.present-item{
	float: left;
	width: 50%;
	&__link{
		margin: 0 auto 10px;
		display: block;
		width: 94px;
		height: 31px;
		border: 2px solid #e50028;
		border-radius: 19px;
		color: #3a3434;
		font-size: 14px;
		line-height: 31px;
		text-decoration: none;
	}
	&__text{
		color: #333334;
		font-family: 'PrivaPro-Three';
		font-size: 16px;
		line-height: 23px;
	}
	&__percent{
		font-family: 'NimbusSans-Light';
		font-size: 40px;
		margin-top: 20px;
		color: #3a3434;
		span{
			font-size: 24px;
			vertical-align: top;
			display: inline-block;
			padding-top: 6px;
		}
	}
	&__img{
		padding-top: 8px;
		width: 33px;
	}
}

.partner-item-link{
	text-decoration: none;
}