.works{
    background: #f3f3f3;
    color: #3a3434;
    padding: 37px 0 115px;
    font-family: 'PrivaPro-Two';
    .container{
        padding: 0 60px;
    }
    &__head{
        margin-bottom: 32px;
        &_sub{
            font-family: 'PrivaPro-Three';
            font-size: 18px;
            margin-bottom: 2px;
        }
    }
    &__text{
        font-size: 16px;
        margin-bottom: 27px;
    }
    &__list-1{
        list-style: disc outside;
        font-size: 16px;
        margin-top: -5px;
        padding-left: 23px;
        margin-bottom: 29px;
    }
    &__process{
        padding: 21px 0 49px;

    }
    &__list-2{
        list-style: disc outside;
        font-size: 16px;
        margin-top: -4px;
        padding-left: 27px;
        padding-right: 30px;
    }
    .mob-btn{
        top: -7px;
    }
}

.works-item-1{
    margin-bottom: 2px;
    &:last-child{
        margin-bottom: 0;
    }
}

.process{
    &__list{
        .work-item:nth-child(1):after,
        .work-item:nth-child(2):after{
            display: inline-block;
        }
    }
    &__head{
        margin-bottom: 43px;
    }
}

.works-item-2{
    line-height: 32px;
    margin-bottom: 10px;
    &:last-child{
        margin-bottom: 0;
    }
    &__img{
        vertical-align: bottom;
    }
}